footer {
    background-image: url('../../../assets/images/footer-bg.jpg');

    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #1E1E1EB2;
    z-index: 1;
  }

  .footer-content {
    position: relative;
    z-index: 2; 
    color: white;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 157px;
  }